# Django
DJANGO_SECRET_KEY='django-insecure-ormom5qrhj0=@+8-!j+my=l@@j!fk9$wiv#!96qz8r2(!jfwvt'
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=appdb
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
