# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
.env

# Django
db.sqlite3
media/

# Static files
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Migrations (optional)
# */migrations/
# !*/migrations/__init__.py