{% for property in page_obj %}

<div>

    {% if property.images.first %}
        <img
            src="{{ property.images.first.image.url }}"
            alt="{{ property.title }}"
            width="250"
        >
    {% endif %}

    <h3>
        <a href="{% url 'property_detail' property.slug %}">
            {{ property.title }}
        </a>
    </h3>

    <p>
        {{ property.property_type }}
    </p>

    <p>
        Price: {{ property.price }}
    </p>

    <p>
        Location: {{ property.location.name }}
    </p>

    <p>
        {{ property.description|truncatechars:100 }}
    </p>

</div>

<hr>

{% empty %}

<p>No properties found.</p>

{% endfor %}


<div>

    {% if page_obj.has_previous %}
        <a href="?location={{ query }}&page=1">
            First
        </a>

        <a href="?location={{ query }}&page={{ page_obj.previous_page_number }}">
            Previous
        </a>
    {% endif %}

    Page {{ page_obj.number }}
    of
    {{ page_obj.paginator.num_pages }}

    {% if page_obj.has_next %}
        <a href="?location={{ query }}&page={{ page_obj.next_page_number }}">
            Next
        </a>

        <a href="?location={{ query }}&page={{ page_obj.paginator.num_pages }}">
            Last
        </a>
    {% endif %}

</div>